@import "../../../style/fontFace.css";
@import "../../../style/constants.scss";
@import "../../../constants/displayConstants";
@import "../../../constants/mediaMixin";

.nav {
  &__menu{
    &-point{
      list-style-type: none;
      margin: 0;
    }
    &-link{
      font-family: $Lato-Medium;
      color: $subColor;
      text-decoration: none;
    }
  }
}
