@import "../../style/fontFace.css";
@import "../../style/constants.scss";
@import "../../constants/displayConstants";
@import "../../constants/mediaMixin";

.nav{
  background: linear-gradient(0.25turn, $primary, $secondary);
  height: 47px;
  display: flex;
  justify-content: space-between;

  &__content{
    max-width: 90%;
    min-width: 90%;
    height: 100%;
    display: flex;
    align-content: center;
    margin-left: 16px;
  }
  &__menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__actions {
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-right: 16px;

    &--indent {
      margin-right: 15px;
    }
  }
}

@include display($DESKTOP) {
  .nav {
    &__content{
      max-width: 70%;
      min-width: 70%;
    }
  }
}

@include display($LARGE_DESKTOP) {
  .nav {
    &__content{
      max-width: 70%;
    }
  }
}
