@font-face {
  font-family: 'Lato-Regular';
  src: url("../fonts/Lato/Lato-Regular/Lato-Regular.eot");
  src: url("../fonts/Lato/Lato-Regular/Lato-Regular.ttf") format('truetype'),
  url("../fonts/Lato/Lato-Regular/Lato-Regular.woff") format('woff'),
  url("../fonts/Lato/Lato-Regular/Lato-Regular.woff2") format('woff2')
}
@font-face {
  font-family: 'Lato-Medium';
  src: url("../fonts/Lato/Lato-Medium/Lato-Medium.eot");
  src: url("../fonts/Lato/Lato-Medium/Lato-Medium.ttf") format('truetype'),
  url("../fonts/Lato/Lato-Medium/Lato-Medium.woff") format('woff'),
  url("../fonts/Lato/Lato-Medium/Lato-Medium.woff2") format('woff2')
}
